// ItemBlock.scss

.ItemBlock {
  max-width: 480px; /* Increase the max-width by 20% */
  margin: 18px; /* Increase the margin for more spacing */
  border-radius: 24px; /* Increase the border-radius for rounded corners */
  overflow: hidden;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;

  &:hover {
    transform: translateY(-12px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2);

    .AddToCartButton {
      opacity: 1;
      transition-delay: 30ms;
      box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.1);
    }
  }

  .ItemLink {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
  }

  .ItemImageContainer {
    overflow: hidden;
    border-radius: 24px 24px 0 0; /* Adjust border-radius */
    height: 240px; /* Increase the height by 20% */

    .ItemImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .ItemDetails {
    padding: 24px; /* Increase padding */

    .ItemTitle {
      font-size: 2.16rem; /* Increase font size by 20% */
      margin-bottom: 12px; /* Increase margin-bottom for more spacing */
    }

    .ItemPrice {
      font-size: 1.68rem; /* Increase font size by 20% */
      font-weight: bold;
      color: #333;
      margin-bottom: 18px; /* Increase margin-bottom for more spacing */
    }

    .ItemStock,
    .ItemSold {
      font-size: 1.2rem; /* Increase font size by 20% */
      color: #666;
      margin-bottom: 12px; /* Increase margin-bottom for more spacing */
    }
  }
}

.AddToCartButton {
  width: 100%;
  border: none;
  border-radius: 0 0 24px 24px; /* Adjust border-radius */
  background-color: #ce1735;
  font-size: 1.68rem; /* Increase font size by 20% */
  color: #fff;
  padding: 18px; /* Increase padding */
  cursor: pointer;
  opacity: 0;
  transition: background-color 0.3s, box-shadow 0.3s;

  &:hover {
    background-color: rgb(187, 19, 47);
  }

  &.active {
    opacity: 1;
    box-shadow: 0px -2px 14px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 600px) {
  .ItemBlock {
    max-width: calc(50% - 36px); /* Adjust max-width for 20% increase */
  }
}
